nav {
  height: 60px;
  width: 100%;
  /* background-color: #c36cbb; */
  background-color: #483D8B;
  /* background-color: rgba(46, 139, 87, 0.8); */
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar{
  display: flex;
}
.navbar .Maps{
  flex: 1;
  color: #fff;
  font-weight: bold;
  padding: 15px;
}
.login{
  flex: 1;
}
.navbar-home {
  padding: 3px 10px;
  display: flex;
  justify-content: flex-end;
}
.NavigationItem {
  margin-right: 20px;
}
.NavigationItem a {
  color: #fff;
  font-weight: 500;
}
.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: lightskyblue;
}
